
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h4>Seja bem vindo ao projeto</h4>
<hr />

<div>
    Escolha a ação desejada:
</div>

<ul>
    <li><a href="/Estoque/Cadastro">Cadastrar Estoques</a></li>
    <li><a href="/Estoque/Consulta">Consultar Estoques</a></li>
</ul>



