
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html>
<hrad>
    <meta name="viewport" content="width=device-width"/>
    <title>Estudo .Net - Jquery</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet"/>
</hrad>
<body class="container">
    <div>
        <h2>Projeto Controle de Produtos</h2> Asp.Nem MVC com Jquery(AJAX)

        <a href="/Produto/Cadastro">Cadastrar Produtos</a>
    </div>
</body>
</html>

