<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Estudo .Net</title>
    <link href="~/Content/bootstrap.min.css"/>

</head>
<body class="container">
    <div> 
        <h1>Consulta de Clientes</h1>
        <a href="/Home/Index">Página Inicial</a>

        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Nome do Cliente</th>
                    <th>Email</th>
                    <th>Data de Cadastro</th>
                    <th>Operações</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5">
                        Quantidade de Clientes:
                    </td>
                </tr>
            </tfoot>
        </table>

    </div>
</body>
</html>
