
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h4>Bem vindo ao Projeto</h4>
<hr />

Selecione:
<hr />

<ul>
    <li><a href="/Usuario/Login">Realizar Autenticação</a></li>
    <li><a href="/Usuario/Cadastro">Cadastrar conta de Usuario</a></li>
</ul>


