
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Estudo .Net Login</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet"/>
</head>
<body class="container">
    <div class="row"> 
        <div class="col-md-12">
            <h2>Sistema de Controle de Clientes</h2>
            Realize seu login ou cadastre-se
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            @RenderBody()
        </div>
    </div>
</body>
</html>
